//Modal
.modal-content{
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	& .modal-header{
		& .modal-title{
			float: left;
			display: block;
			width: 100%;
			padding: 5px 0 0 0;
		}
	}
	& .modal-footer.text-center{
		display: block;
	}
}
.invalid-feedback{
	display: initial !important;
}

table{
	&.table-nocard{
		background: #fff;
	}
}

nav{
	& ul.pagination{
		& i.mdi{
			line-height: 0;
		}
	}
}

//Forms


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #eee;
    margin: 30px 0;
}

form{
	& .form-preview{
		display: table;
		width: 120px;
		height: 120px;
		& label{
			display: table-cell;
			width: 120px;
			height: 120px;
			border: 1px solid #dee2e6;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			& .icon{
				& i.mdi{
					font-size: 24px;
				}
				& span{
					display: block;
					width: 100%;
					font-size: 11px;
				}
			}
			& img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		& input[type="file"]{
			display: none;
		}
	}
	& .form-error{
		color: #ef5350;
	}
}

.breadcrumb-holder {
  	background: #fff;
  	& .inner{
  		display: table;
  		width: 100%;
  		& .links,
  		& .buttons{
  			display: table-cell;
  			padding: 6px 0;
  		}
  		& .buttons{
  			text-align: right;
  			& .btn{
  				padding-left: 10px;
  				padding-right: 20px;
  				& i.mdi{
	  				font-size: 18px;
	  				line-height: 14px;
	  				display: inline-block;
	  				float: left;
	  				margin-top: 2px;
	  				margin-right: 3px;
	  			}
  			}
  		}
  	}
  	& ul.breadcrumb {
		background: #fff;
		position: relative;
		z-index: 7;
		border-radius: 0;
		padding: 15px 0;
		margin-bottom: 0;
		& li.breadcrumb-item {
			color: #aaa;
			font-weight: 300;
			&.active{
				color:#000;
				font-weight: 500;
			}
		}
	}
}

/*
|--------------------------------------------------------
| Cards
|--------------------------------------------------------
*/
.card{
	& .card-body{
		&.nopadding{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
		}
		& table.table{
			margin-bottom: 0;
			& tr{
				&:first-child th{
					border-top: 0;
				}
				& .action{
					white-space: nowrap;
					padding-top: 0;
					padding-bottom: 0;
					vertical-align: middle;
					& .buttons{
						/*display: none;*/
						& a{
							display: inline-block;
							margin-left: 8px;
							margin-right: 8px;
						}
						& i.mdi{
							font-size: 18px;
							line-height: 18px;
							margin: 0 3px;
						}
					}
				}
				&:hover .buttons{
					/*display: initial;*/
					& a{
						color: $font-color;
						display: inline-block;
						margin-left: 8px;
						margin-right: 8px;
					}
				}
				& th,
				& td{
					&.tdNoPadding{
						padding-top: 0;
						padding-bottom: 0;
						& .image_name{
							display: table;
							height: 40px;
							width: 100%;
							& .avatar,
							& .name{
								display: table-cell;
								vertical-align: middle;

							}
							& .avatar{
								width: 40px;
								height: 40px;
								overflow: hidden;
								text-align: center;
								& img{
									width: 80%;
									height: 80%;
									object-fit: contain;
									border-radius: 2px;
									cursor: pointer;
								}
							}
							& .name{
								padding-left: 0.75rem;
								& span{
									cursor: pointer;
								}
							}
						}
					}
					vertical-align: middle;
					&:nth-child(1){
						padding-left: 20px;
					}
				}
			}
		}
	}
}