table{
	&.table-calendar{
		font-family: 'Roboto', sans-serif;
		background:#fff;
		width: 100%;
		//#EEF5F9
		& thead{
			& .table-header{
				border-bottom: #e0e0e0 solid 1px;
				& th{
					text-align: center !important;
					padding: 15px 15px;
					font-size: 36px;
					font-weight: 300;
					@extend .uppercase;
					vertical-align: middle;
					&:nth-child(1),
					&:nth-child(3){
						& i{
							font-size: 24px;

						}
					}
					&:nth-child(1){
						text-align: left !important;
					}
					&:nth-child(2){
						padding-top: 10px;
					}
					&:nth-child(3){
						text-align: right !important;
					}
				}
			}
		}
		& tbody{
			& tr.cal_labels{
				& td{
					height: 50px;
					background: #e0e0e0;
					padding: 15px 10px;
					@extend .uppercase;
					border-right:#fff solid 1px;
					width: 14.285714% !important;
					&:nth-child(7){
						border-right: none;
					}
				}
			}
			& tr{
				& td{
					overflow: auto;
					overflow-x: hidden;
					padding: 10px 0;
					border-bottom: #e0e0e0 solid 1px;
					border-right: #e0e0e0 solid 1px;
					vertical-align: top;
					& > div{
						min-height: 150px;
					}
					& .schedules{
						padding: 5px 10px;
						margin: 1px 0;
						color:$white;
						position: relative;
						&:hover a.edit{
							display: initial;
						}
						&.warning{
							background: $warning;
						}
						&.ok{
							background: $green;
						}
						&.info{
							background: $blue;
						}
						&.student{
							background: $student;
						}
						&.teacher{
							background: $teacher;
						}
						& a.edit{
							display: inline-block;
							position: absolute;
							right: 5px;
							top: 5px;
							font-size: 18px;
							color: $black;
							&:hover{
								color:$white;
							}
						}
						& .lesson-name{
							font-size: 11px;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
						}
						& .schedule-time{
							font-weight: 500;
							font-size: 14px;
							color:$white;
						}
						& .student-teacher{
							font-size: 11px;
							& span{
								display: block;
							}
						}
					}
					&:nth-child(7){
						border-right: none;
					}
					& span.day{
						display: block;
						font-weight: 600 !important;
						padding: 0 10px;
					}
					& .event{
						background-color: rgba(3, 169,244,0.5);
						margin: 2px 1px;
						color: $grey-darken-4;
						padding: 5px 10px;
						cursor: pointer;
						transition: background-color 0.5s ease;
						&:hover{
							background: rgba(3, 169,244,1);
						}
					}
					& .more{
						color: $grey-darken-4;
						padding: 0 5px;
						& i.mdi{
							font-size: 24px;
							line-height: 29px;
							cursor: pointer;
							&:hover{
								color: rgba(3, 169,244,1);
							}
						}
					}
				}
			}
		}
	}
}
/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/
@media (max-width: 991px) {
    
}


/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/
@media (max-width: 480px) {
    
}