#ratingModal{
    & .form-row{
        & .category{
            border:#fff solid 1px;
            display: inline-block;
            padding-top: 10px;
            float: right;
            & img{
                margin-top: 5px;
            }
        }
        & i.mdi{
            //border:#000 solid 1px;
            line-height: 40px;
        }
    }
    & .rating{
        float:left;
        padding:0;
        height:20px;
        margin:0 0 1.5em 0;
        & span{
            float:right;
            position:relative;
            & input{
                position:absolute;
                top:0px;
                left:0px;
                opacity:0;
                //display: none;
            }
            & label{
                display:inline-block;
                text-align:center;
                color:#757575;
                font-size:16px;
                line-height:16px;
                margin-right:5px;
            }
        }
    }
    & .rating span:hover ~ span label,.rating span:hover label,.rating span.checked label,.rating span.checked ~ span label{
        color:#ff9800;
    }
}


.tooltip{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important ; 
}

.category{
    float: right;
    padding: 0;
    height: 20px;
    margin: -10px 0 1.5em 0 !important; 
}

.modal-title{
    margin: 0 auto !important;
}

header{
    /* visibility: hidden !important; */
}
section.video-call{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0 0;
    height: 100vh;
    margin-top: -91px;
    display: table;
    width: 100%;
    & .chat-video,
    & .slider_scribble{
        display: table-cell;
        height: 100vh;
        margin: 0;
        padding: 0;
        padding-top: 91px;
        position: relative;
        //border: 1px solid #000;
    }
    & .chat-video{
        width: 40%;
        margin-left: 5px;
        & .video, 
        & .chat{
            // height: 50%;
            //border: 1px solid #000;
            position: relative;
        }
        & .chat{
            margin: 0 -2px 0 -2px;
            height: 67%;
        }
        & .video{
            height: 33%;
            
            & .video_data{
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 100%;
                padding: 0.25rem 0.15rem 0.25rem 0.15rem;
                //height: calc(50% - 35px);
                &.maximized{
                    & .bordered-box{
                        position: fixed;
                        z-index: 9999;
                        width: 60%;
                        bottom: 5px;
                        top: 95px;
                        height: auto;
                        & #other_video{
                            display: none;
                        }
                        /*
                        & .initiator{
                            top: 0;
                            width: 100%;
                            left: 0;
                            & video{
                                width: 100%;
                                height: auto;
                            }
                        }
                        & .others{
                            top: -34px;
                            left: 77%;
                        }*/
                    }
                }
                & .vtbl{
                    width: 100%;
                    height: 100%;
                    display: table;
                    & .initiator,
                    & .others{
                        display: table-cell;
                        vertical-align: top;
                        position: relative;
                        width: 50%;
                        & video{
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    & .others{
                        //width: 40%;
                    }
                    & .initiator{
                        //width: 60%;
                        & .minimize_maximize{
                            position: absolute;
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background: rgba(255,255,255,0.3);
                            left: 25px;
                            top: 5px;
                            // padding-top: 3px;
                            text-align: center;
                            color: $black;
                            cursor: pointer;
                            z-index: 99;
                            &:hover{
                                background: rgba(255,255,255,0.7);
                            }
                            & i.mdi{
                                font-size: 24px;
                                line-height: 40px;
                            }
                        }
                    }
                }
                /*
                & .initiator{
                    top: 0;
                    right: 0.20rem;
                    width: 52%;
                    height: 100%;
                    //border: solid 2px green; 
                    overflow: hidden;
                    text-align: center;
                    position: relative;
                    margin: 0 auto;
                    & video{
                        height: 100%;
                        width: auto;
                    }
                    & .minimize_maximize{
                        position: absolute;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: rgba(255,255,255,0.3);
                        left: 25px;
                        top: 5px;
                        // padding-top: 3px;
                        text-align: center;
                        color: $black;
                        cursor: pointer;
                        z-index: 99;
                        &:hover{
                            background: rgba(255,255,255,0.7);
                        }
                        & i.mdi{
                            font-size: 24px;
                            line-height: 40px;
                        }
                    }
                    & .others{
                        position: absolute;
                        height: 33%;
                        width: auto;
                        z-index: 999;
                        top: 0;
                        right: 0;
                        //display: none;
                        & video{
                            height: 100% !important;
                            width: auto;
                        }
                    }
                    
                }*/
         
            }
        }
    }
    & .slider_scribble{
        & #widget-container{
            width: 100%;
            position: absolute;
            z-index: 999;
            //left: 5px;
            top: 95px;
            bottom: 5px;
            //display: none;
            & .close_scribble{
                position: absolute;
                display: inline-block;
                width: 40px;
                height: 40px;
                top: 5px;
                right: 15px;
                background: #ff6d00;
                border-radius: 50%;
                cursor: pointer;
                text-align: center;
                color: $white;
                padding-top: 7px;
                & i.mdi{
                    margin-top: 5px;
                    font-size: 24px;
                }
                &:hover{
                    color: $black;
                }
            }
            & .disabled_widget{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0,0,0,0);
                z-index: 9;
            }
            & .expand_scribble{
                position: absolute;
                display: inline-block;
                width: 40px;
                height: 40px;
                top: 8px;
                background: #ff6d00;
                border-radius: 50%;
                cursor: pointer;
                text-align: center;
                color: $white;
                padding-top: 2px;
                right: 10px;
                & i.mdi{
                    font-size: 24px;
                }
            }
        }
        & .slider_data{
            padding: 0.25rem;
            position: relative;
            height: 100%;
  
            & .prev{
                background: #fff;
                border: $grey solid 1px;
                position: absolute;
                top: 4px;
                bottom: 4px;
                left: 4px;
                right: 110px;
                &.maximized_pdf{
                   
                        position: fixed;
                        z-index: 9999;
                        width: calc(100% - 110px);
                        bottom: 5px;
                        top: 95px;
                        height: auto;
                   
                    
                }
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
                & .pdf-preview{
                    border:#000 solid 0;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    overflow: auto;
                    overflow-x: hidden;
                    & img{
                        width: 100%;
                        height: auto;
                    }
                }
                & .pdf-control{
                    position: absolute;
                    width: 100px;
                    height: 40px;
                    left: 50%;
                    margin-left: -50px;
                    top: 10px;
                    z-index: 10;
                    & .minimize_maximize{
                        position: absolute;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: rgba(255,255,255,0.3);
                        /*background: yellow;*/
                        right: -47px;
                        top: 5px;
                        padding-top: 3px;
                        text-align: center;
                        color: $black;
                        cursor: pointer;
                        z-index: 99;
                        &:hover{
                           background: rgba(255,255,255,0.7);
                           /*background: green;*/
                        }
                        & i.mdi{
                            font-size: 24px;
                        }
                    }
                    & .button-action{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        padding-top: 8px;
                        background: rgba(0,0,0,0.2);
                        cursor: pointer;
                        &:hover{
                            background: rgba(0,0,0,0.7);
                            color: $white;
                        }
                        & i.mdi{
                            line-height: 24px;
                            font-size: 24px;
                        }
                        &.pdf-prev{
                            float: left;
                        }
                        &.pdf-next{
                            float: right;
                        }
                    }
                }
            }
            & .list-player{
                position: absolute;
                top: 4px;
                bottom: 4px;
                right: -16px;
                width: 115px;
                & .list-file{
                    margin: -4px 0 1px -4px;
                    height: calc(50% + 1px);
                    & .list_upload{
                        border:$grey solid 1px;
                        position: absolute;
                        top: 4px;
                        bottom: 4px;
                        right: 0;
                        width: 100%;
                        background: #fff;
                        & ul#slideoverview{
                            margin: 0;
                            padding: 0;
                            & li{
                                height: 15px;
                                float: none;
                                width: 100%;
                                padding-top: 60%;
                                position: relative;
                                & div.drawer{
                                    border:$grey solid 1px;
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    margin: 1px 0;
                                    left: 1px;
                                    right: 1px;
                                    overflow: hidden;
                                    & img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;
                                    }
                                }
                            }
                            // & li{
                            //     list-style: none;
                            //     //padding: 60% 0 0 0;
                            //     margin: 0;
                            //     position: relative;
                            //     display: block;
                            //     width: 100%;
                            //     & div.drawer{
                            //         width: 100%;
                            //         height: 150px;
                            //         top: 0;
                            //         margin: 0 0 1px 0;
                            //         position: absolute;
                            //         border:#000 solid 1px;
                            //         & img{
                            //             width: 100%;
                            //             height: 100%;
                            //             object-fit: cover;
                            //         }
                            //     }
                            // }
                        }
                    } 
                }
                & .list-file, 
                & .list-audio{
                   position: relative;
                   width: 100px;
                }
              
                & .list-audio{
                    border:$grey solid 1px;
                    margin: -4px 0 1px -4px;
                    height: calc(50% + 1px);
                    & #jp_container_2{
                        &.jp-audio{
                            height: calc(100% - 70px) !important;
                        }
                    }

                    & .help{
                        background:#b0bec5;
                        border-top:#78909c solid 1px;
                        text-align: center;
                        height: 70px;
                        cursor: pointer;
                        position: relative;
                        & .label{
                            font-size: 12px;
                            margin-bottom: 3px;
                        }
                        & span{
                            background: #ff0000;
                            display: inline-block;
                            width: 50px;
                            height: 40px;
                            border-radius: 50%;
                        }
                        & .info-box{
                            display: none;
                            position: absolute;
                            width: 200px;
                            bottom: 0;
                            right: 100px;
                            color: #c00000;
                            & ul{
                                margin: 0;
                                padding: 0;
                                & li{
                                    display: block;
                                    padding: 5px 0;
                                    & div.en{
                                        font-weight: 700;
                                    }
                                }
                            }
                            & .arrow_box {
                                position: relative;
                                background: #fff2cc;
                                border: 4px solid #c00000;
                                width: 200px;
                                padding: 15px 5px;
                                border-radius: 5px;
                                &:after,
                                &:before{
                                    left: 100%;
                                    bottom: 20px;
                                    border: solid transparent;
                                    content: " ";
                                    height: 0;
                                    width: 0;
                                    position: absolute;
                                    pointer-events: none;
                                }
                                &:after{
                                    border-color: rgba(192, 0, 0, 0);
                                    border-left-color: #fff2cc;
                                    border-width: 10px;
                                    margin-bottom: -10px;
                                }
                                &:before{
                                    border-color: rgba(255, 242, 204, 0);
                                    border-left-color: #c00000;
                                    border-width: 16px;
                                    margin-bottom: -16px;
                                }
                            }
                        }
                    }
                }
          
            }

            & .showCanvas,
            & .addImage{
                position: absolute;
                display: inline-block;
                width: 40px;
                height: 40px;
                top: 8px;
                background: #ff6d00;
                border-radius: 50%;
                cursor: pointer;
                text-align: center;
                color: $white;
                padding-top: 2px;
                &:hover{
                    color: $black;
                }
            }
            & .showCanvas{
                right: 10px;
                border-radius: 50%;
                & i.mdi{
                    font-size: 24px;
                    margin-top: 10px;
                }
            }
            & .addImage{
                right: 55px;
                z-index: 99;
                & input[type="file"]{
                    display: none;
                }
                & label{
                    cursor: pointer !important;
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    border-radius: 50%;
                    & i.mdi{
                        margin-top: 10px;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
section.video-call .bordered-box{
    border:$grey solid 1px;
    height: 100%;
    background-color: none;
    color:#fff;
    text-align: center;
    display: flex; 
    margin: auto;
    background:$white;
}

section.video-call .bordered-box p{
    margin: auto;
}

section.video-call .chat .inner{
    position: absolute;
    left: 0.25rem;
    top: 0px;
    right: 0.25rem;
    bottom: 73px;
    border:$grey solid 1px;
    background:$white;
}
/*
/ Chat messages stye
*/
section.video-call ul#chatMessageIo{
    margin: 0 15px;
    padding: 0;
}

section.video-call ul#chatMessageIo li{
    list-style: none;
    padding: 2px 0;
    display: block;
    clear: both;
    margin-bottom: 15px;
    &.message{
        &:after{
            content: "";
            clear: both;
            display: table;
        }
        &.left{
            & .avatar,
            & .username,
            & .messageBody{
                float: left;
            }
            & .username,
            & .messageBody{
                margin-left: 5px;
            }
        }
        &.right{
            & .avatar,
            & .username,
            & .messageBody{
                float: right;
            }
            & .username,
            & .messageBody{
                margin-right: 5px;
            }
        }
        & .avatar,
        & .username,
        & .messageBody{
            display: inline-block;
        }
        & .avatar{
            width: 34px;
            height: 50px;
            padding: 0;
            display: none;
            & i.mdi{
                font-size: 34px;
                line-height: 34px;
                margin: 0;
                padding: 0;
            }
        }
        & .username,
        & .messageBody{
            width: calc(100% - 20px);
            background: rgba(50,141,208,0.2);
        }
        & .username{
            font-size: 10px;
            font-weight: 500;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            padding: 5px 10px 0 10px;
            
        }
        & .messageBody{
            margin-top: 0;
            padding: 0px 10px 10px 10px;
            word-wrap: break-word;
            white-space: pre-line;
            font-size: 16px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            line-height: 18px;
            text-align: left;
        }
    }
    &.right{
        text-align: right;
    }

    &.log{
        font-size: 13px;
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
    }
}

section.video-call .chat .innerInput{
    position: absolute;
    left: 0.25rem;
    right: 0.25rem;
    bottom: 5px;
    height: 65px;
}

section.video-call .chat .innerInput textarea{
    width: 100%;
    height: 65px;
    border:$grey solid 1px;
    outline: none;
    resize: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}


section.video-call .bigbox{
    position: relative;
}
section.video-call .bigbox .upper,
section.video-call .bigbox .lower{
    position: absolute;
    left: 0;
    right: 0;
    /* border:#000 solid 1px; */
}
section.video-call .bigbox .upper{
    height: 60%;
    top: 0;
    padding-top: 91px;
}
section.video-call .bigbox .upper .table{
    display: table;
    /* border:#000 solid 1px; */
    height: 100%;

}

section.video-call .bigbox .upper .table .td{
    display: table-cell;
    /* border:#000 solid 1px; */
}
section.video-call .bigbox .upper .table .td.video{
    width: 28%;
    position: relative;
    padding: 0.25rem;
}
section.video-call .bigbox .upper .table .td.video .initiator{
    position: absolute;
    top: 13%;
    right: .25rem;
    bottom: 0;
    left: .25rem;
}
section.video-call .bigbox .upper .table .td.video .others{
    width: 40%;
    height: 41%;
    position: absolute;
    top: 13%;
    right: .25rem;
    z-index: 999;
}
section.video-call .bigbox .upper .table .td.scribble{
    padding: 0.25rem;

}
section.video-call .bigbox .upper .table .td.video .video-upper,
section.video-call .bigbox .upper .table .td.video .video-lower{
    position: absolute;
    /* border:#000 solid 1px; */
    left: 0;
    right: 0;
}
section.video-call .bigbox .upper .table .td.video .video-upper{
    height: 40%;
    top: 0;
}
section.video-call .bigbox .upper .table .td.video .video-upper .row{
    height: 100%;
    margin: 0;
}
section.video-call .bigbox .upper .table .td.video .video-upper .row div{
    height: 100%;
    padding: 0;
    padding: 0.25rem;
}
section.video-call .bigbox .upper .table .td.video .video-lower{
    height: 100%;
    bottom: 0;
    padding: 0.25rem;
    position: static;
}
section.video-call .bigbox .lower{
    height: 40%;
    bottom: 0;
}
section.video-call .bigbox .lower .table{
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
}
section.video-call .bigbox .lower .table .td{
    display: table-cell;
    padding: 0.25rem;
}
section.video-call .bigbox .lower .table .td.youtube{
    width: 28%;
    vertical-align: top;
    position: relative;
    & .youtube_inner{
        position: relative;
        & .disabledFrame{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(0,0,0,0);
        }
    }
}

section.video-call .bigbox .lower .table .td.youtube .bordered-box p{
    margin: auto;
}
.expand-vertical{
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding-top:0;
    padding-bottom: 0;
}



.tool-box{
    height: 100% !important;
}
.hidden{
    display: none;
}

.jp-type-playlist{
    position: relative;
    .add_audio{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        & input[type="file"]{
            display: none;
        }
        & label{
            
            display: block;
            padding: 8px 0;
            margin-bottom: 0;
            border-radius: 5px;
            color: #fff;
            margin: 0 0.75rem;
            font-size: 18px;
        }
    }

}

/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/
@media (max-width: 991px) {
    
}


/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/
@media (max-width: 480px) {
    
}