.form_confirm{
	& .confirm-row{
		display: table;
		width: 100;
		& .image_preview{
			display: inline-block;
			width: 120px;
			height: 120px;
			display: table;
			& .inner{
				display: table-cell;
				width: 120px;
				height: 120px;
				border: 1px solid #dee2e6;
				vertical-align: middle;
				text-align: center;
				& img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		& .confirm-label,
		& .confirm-data{
			display: table-cell;
			vertical-align: top;
			padding: 12px 0;
		}
		& .confirm-label{
			width: 240px;
			white-space: nowrap;
		}
		& .confirm-data{
			&:before{
				content: ':';
				margin-right: 15px;
			}
		}
	}
}

#course-level{
	& .custom-control{
		padding-top: 8px;
		padding-bottom: 8px;
	}
}

.viewPassword{
	margin-top: 30px;
	display: inline-block;
	height: 35px;
	padding: 9px 5px;
	cursor: pointer;
	& i.mdi{
		font-size: 24px;
	}
}