body{
	//font-family: 'Roboto', sans-serif;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", 'Roboto', sans-serif !important ;  
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: $font-color !important;
}
/* your styles go here */
.unselectable{
    background-color: #ddd;
    cursor: not-allowed;
}


/*
|------------------------------------------
| Order List
|------------------------------------------
*/
ul{
	margin: 0;
	padding: 0;
	& li{
		list-style: none;
	}
}

.box{
	border: $grey-lighten-2 solid 1px;
	padding: 10px 10px;
}
/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/
@media (max-width: 991px) {
    
}


/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/
@media (max-width: 480px) {
    
}

.ui-timepicker-title{
	text-align: center !important;
	font-size: 12px;
}
.ui-state-default{
	font-size: 12px;
	padding: 0 5px;
}
.ui-timepicker-hour-cell a,
.ui-timepicker-minute-cell a{
	cursor: pointer;
}
.card{
	& .card-header{
		& h3{
			font-family: 'Roboto', sans-serif;
			font-weight: 400 !important;
		}
	}
}

.line-double{
	display: block;
	border-top: #e0e0e0 dashed 1px;
	border-bottom: #e0e0e0 dashed 1px;
	height: 10px;
	margin: 30px 0;
}