.lessons{
	& .card-body{
		font-weight: 400;
		font-size: 15px;
		& .lesson-title{
			font-size: 18px;
		}

		& .teacher_date{
			display: table;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 30px;
			& .avatar,
			& .name{
				display: table-cell;
				vertical-align: middle;
				height: 30px !important;
				padding: 0 !important;
				position: relative;
			}
			& .avatar{
				width: 40px;
				& .inner{
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
					height: 30px;
					width: 30px;
					margin: 0 !important;
					overflow: hidden;
					border-radius: 50%;
					& img{
						width: 30px;
						height: 30px;
					}
				}
			}
			& .name{
				padding-left: 15px;
			}
		}

		& .comments{
			& .comment-data{
				border-bottom: #eee dashed 1px;
				display: table;
				width: 100%;
				& .comment-avatar,
				& .comment-body{
					display: table-cell;
					vertical-align: top;
					padding: 25px 0;
				}
				& .comment-avatar{
					width: 50px;
					& i.mdi{
						line-height: 36px;
					}
				}
				& .comment-body{
					& .name{
						font-weight: 500;
					}
					& .carbon{
						font-size: 12px;
					}
					& .note{
						color: $grey-darken-2;
					}
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
}