.col-edit{
	padding-left: 5px;
	& a{
		display: inline-block;
		width: 30px;
		height: 38px;
		text-align: center;
		// /background: $grey-lighten-2;
		& i.mdi{
			font-size: 24px;
		}
	}
}
.loading{
	@extend .text-center;
	padding: 50px 0;
	& img{
		height: 50px;
		margin-bottom: 15px;
	}
	& div{
		font-size: 12px;
	}
}

ul.schedule_lists{
	//font-family: 'Roboto', sans-serif;
	margin-left: -15px;
	margin-right: -15px;
	& li{
		background-color: rgba(3, 169,244,0.5);
		font-size: 14px;
		margin: 2px 0;
		color: $grey-darken-4;
		padding: 5px 10px;
		cursor: pointer;
		transition: background-color 0.5s ease;
		&:hover{
			background: rgba(3, 169,244,1);
		}
	}
}

.no-record{
	border: 1px dashed #bdbdbd;
	border-radius: 5px;
	text-align: center;
	padding: 0 0.75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 350px;
	& p{
		margin: 15px 0 25px 0;
	}
	& .info{
		& i.mdi{
			font-size: 48px;
		}
	}
}



.modal{
	& .modal_loading{
		text-align: center;
		padding: 50px 0;
		& img{
			height: 50px;
			margin-bottom: 25px;
		}
	}

	& .user-detail{
		padding: 25px 0;
		text-align: center;
		& .u-group{
			display: block;
			& .a-container{
				margin: 0 auto;
				display: table;
				width: 100px;
				height: 100px;
				margin-bottom: 25px;
				& .a-image{
					display: table-cell;
					width: 100px;
					height: 100px;
					border: #eeeeee solid 1px;
					border-radius: 5px;
					padding: 5px;
					& img{
						width: 100%;
						height: 100%;
						object-fit: contain;
					}
				}
			}
			& .u-label{
				font-size: 11px;
				padding-top: 10px;
				color: #9e9e9e;
			}
			& .u-value{
				font-weight: 500;
				border-bottom: #eeeeee dashed 1px;
				padding-bottom: 10px;
			}
			&.last .u-value{
				border-bottom: 0;
			}
		}
		& .u-line{
			background: #e0e0e0;
			height: 1px;
			margin-top: 35px;
			margin-bottom: 35px;
			text-align: center;
			position: relative;
			& span{
				display: inline-block;
				background: #fff;
				position: absolute;
				top: -5px;
				left: calc(50% - 50px);
				width: 100px;
				font-weight: 500;
				text-transform: uppercase;
			}
		}
	}
}

.form-proccessing{
	padding-left: 15px;
	font-size: 13px;
	color: #9e9e9e;
	white-space: nowrap;
	& img{
		height: 20px;
	}
}

.legends{
	margin-bottom: 2rem;
	& h5{
		font-size: 14px;
	}
	& ul{
		& li{
			height: 25px;
			margin: 15px 0;
			&:after{
				display: table;
				width: 100%;
				content: '';
			}
			& span{
				display: inline-block;
				height: 15px;
				float: left;
				&.box{
					width: 15px;
					border:0;
					margin-right: 10px;
				}
				&.lbl{
					padding: 5px 0;
				}
			}
			&.student{
				& .box{
					background: $student;
				}
			}
			&.teacher{
				& .box{
					background: $teacher;
				}
			}
		}
	}
}

.lesson_comments{
	margin: 1.5rem 0;
	/*border:#000 solid 1px;*/
	max-height: 400px !important;
	height: auto !important;
	padding: 10px 15px;
	& .title{
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	& .comment-data{
		display: table;
		width: 100%;
		margin: 5px 0 10px 0;
		& .comment-avatar,
		& .comment-body{
			display: table-cell;
			vertical-align: top;
		}
		& .comment-avatar{
			width: 50px;
			& img{
				width: 40px;
				height: 40px;
			}
		}
		& .comment-body{
			padding-left: 10px;
			& .name{
				font-weight: 500;
			}
			& .note{
				margin-top: 5px;
			}
		}

	}
}