// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light-blue: #03a9f4;
$grey-lighten-2: #e0e0e0;
$grey: #9e9e9e;
$grey-darken-1: #757575;
$grey-darken-2: #616161;
$grey-darken-3: #424242;
$grey-darken-4: #212121;
$blue-accent-4: #2962ff;
$white: #fff;
$black: #000;

$warning: #ffc107;
$info: #00c853;
$grey-darken-3: #424242;

$font-color: #212121;

$student: $green;
$teacher: $orange;