@charset "UTF-8";

.text-center,
.loading {
  text-align: center !important;
}

.text-right {
  text-align: right;
}

.uppercase,
table.table-calendar thead .table-header th,
table.table-calendar tbody tr.cal_labels td {
  text-transform: uppercase;
}

.modal-content {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

.modal-content .modal-header .modal-title {
  float: left;
  display: block;
  width: 100%;
  padding: 5px 0 0 0;
}

.modal-content .modal-footer.text-center,
.modal-content .modal-footer.loading {
  display: block;
}

.invalid-feedback {
  display: initial !important;
}

table.table-nocard {
  background: #fff;
}

nav ul.pagination i.mdi {
  line-height: 0;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #eee;
  margin: 30px 0;
}

form .form-preview {
  display: table;
  width: 120px;
  height: 120px;
}

form .form-preview label {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid #dee2e6;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

form .form-preview label .icon i.mdi {
  font-size: 24px;
}

form .form-preview label .icon span {
  display: block;
  width: 100%;
  font-size: 11px;
}

form .form-preview label img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

form .form-preview input[type="file"] {
  display: none;
}

form .form-error {
  color: #ef5350;
}

.breadcrumb-holder {
  background: #fff;
}

.breadcrumb-holder .inner {
  display: table;
  width: 100%;
}

.breadcrumb-holder .inner .links,
.breadcrumb-holder .inner .buttons {
  display: table-cell;
  padding: 6px 0;
}

.breadcrumb-holder .inner .buttons {
  text-align: right;
}

.breadcrumb-holder .inner .buttons .btn {
  padding-left: 10px;
  padding-right: 20px;
}

.breadcrumb-holder .inner .buttons .btn i.mdi {
  font-size: 18px;
  line-height: 14px;
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-right: 3px;
}

.breadcrumb-holder ul.breadcrumb {
  background: #fff;
  position: relative;
  z-index: 7;
  border-radius: 0;
  padding: 15px 0;
  margin-bottom: 0;
}

.breadcrumb-holder ul.breadcrumb li.breadcrumb-item {
  color: #aaa;
  font-weight: 300;
}

.breadcrumb-holder ul.breadcrumb li.breadcrumb-item.active {
  color: #000;
  font-weight: 500;
}

/*
|--------------------------------------------------------
| Cards
|--------------------------------------------------------
*/

.card .card-body.nopadding {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.card .card-body table.table {
  margin-bottom: 0;
}

.card .card-body table.table tr:first-child th {
  border-top: 0;
}

.card .card-body table.table tr .action {
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.card .card-body table.table tr .action .buttons {
  /*display: none;*/
}

.card .card-body table.table tr .action .buttons a {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.card .card-body table.table tr .action .buttons i.mdi {
  font-size: 18px;
  line-height: 18px;
  margin: 0 3px;
}

.card .card-body table.table tr:hover .buttons {
  /*display: initial;*/
}

.card .card-body table.table tr:hover .buttons a {
  color: #212121;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.card .card-body table.table tr th,
.card .card-body table.table tr td {
  vertical-align: middle;
}

.card .card-body table.table tr th.tdNoPadding,
.card .card-body table.table tr td.tdNoPadding {
  padding-top: 0;
  padding-bottom: 0;
}

.card .card-body table.table tr th.tdNoPadding .image_name,
.card .card-body table.table tr td.tdNoPadding .image_name {
  display: table;
  height: 40px;
  width: 100%;
}

.card .card-body table.table tr th.tdNoPadding .image_name .avatar,
.card .card-body table.table tr th.tdNoPadding .image_name .name,
.card .card-body table.table tr td.tdNoPadding .image_name .avatar,
.card .card-body table.table tr td.tdNoPadding .image_name .name {
  display: table-cell;
  vertical-align: middle;
}

.card .card-body table.table tr th.tdNoPadding .image_name .avatar,
.card .card-body table.table tr td.tdNoPadding .image_name .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}

.card .card-body table.table tr th.tdNoPadding .image_name .avatar img,
.card .card-body table.table tr td.tdNoPadding .image_name .avatar img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 2px;
  cursor: pointer;
}

.card .card-body table.table tr th.tdNoPadding .image_name .name,
.card .card-body table.table tr td.tdNoPadding .image_name .name {
  padding-left: 0.75rem;
}

.card .card-body table.table tr th.tdNoPadding .image_name .name span,
.card .card-body table.table tr td.tdNoPadding .image_name .name span {
  cursor: pointer;
}

.card .card-body table.table tr th:nth-child(1),
.card .card-body table.table tr td:nth-child(1) {
  padding-left: 20px;
}

body {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", 'Roboto', sans-serif !important;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: #212121 !important;
}

/* your styles go here */

.unselectable {
  background-color: #ddd;
  cursor: not-allowed;
}

/*
|------------------------------------------
| Order List
|------------------------------------------
*/

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.box {
  border: #e0e0e0 solid 1px;
  padding: 10px 10px;
}

/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/

/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/

.ui-timepicker-title {
  text-align: center !important;
  font-size: 12px;
}

.ui-state-default {
  font-size: 12px;
  padding: 0 5px;
}

.ui-timepicker-hour-cell a,
.ui-timepicker-minute-cell a {
  cursor: pointer;
}

.card .card-header h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400 !important;
}

.line-double {
  display: block;
  border-top: #e0e0e0 dashed 1px;
  border-bottom: #e0e0e0 dashed 1px;
  height: 10px;
  margin: 30px 0;
}

#ratingModal .form-row .category {
  border: #fff solid 1px;
  display: inline-block;
  padding-top: 10px;
  float: right;
}

#ratingModal .form-row .category img {
  margin-top: 5px;
}

#ratingModal .form-row i.mdi {
  line-height: 40px;
}

#ratingModal .rating {
  float: left;
  padding: 0;
  height: 20px;
  margin: 0 0 1.5em 0;
}

#ratingModal .rating span {
  float: right;
  position: relative;
}

#ratingModal .rating span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

#ratingModal .rating span label {
  display: inline-block;
  text-align: center;
  color: #757575;
  font-size: 16px;
  line-height: 16px;
  margin-right: 5px;
}

#ratingModal .rating span:hover ~ span label,
#ratingModal .rating span:hover label,
#ratingModal .rating span.checked label,
#ratingModal .rating span.checked ~ span label {
  color: #ff9800;
}

.tooltip {
  font-family: "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif !important;
}

.category {
  float: right;
  padding: 0;
  height: 20px;
  margin: -10px 0 1.5em 0 !important;
}

.modal-title {
  margin: 0 auto !important;
}

header {
  /* visibility: hidden !important; */
}

section.video-call {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0 0;
  height: 100vh;
  margin-top: -91px;
  display: table;
  width: 100%;
}

section.video-call .chat-video,
section.video-call .slider_scribble {
  display: table-cell;
  height: 100vh;
  margin: 0;
  padding: 0;
  padding-top: 91px;
  position: relative;
}

section.video-call .chat-video {
  width: 40%;
  margin-left: 5px;
}

section.video-call .chat-video .video,
section.video-call .chat-video .chat {
  position: relative;
}

section.video-call .chat-video .chat {
  margin: 0 -2px 0 -2px;
  height: 67%;
}

section.video-call .chat-video .video {
  height: 33%;
}

section.video-call .chat-video .video .video_data {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  padding: 0.25rem 0.15rem 0.25rem 0.15rem;
  /*
                & .initiator{
                    top: 0;
                    right: 0.20rem;
                    width: 52%;
                    height: 100%;
                    //border: solid 2px green; 
                    overflow: hidden;
                    text-align: center;
                    position: relative;
                    margin: 0 auto;
                    & video{
                        height: 100%;
                        width: auto;
                    }
                    & .minimize_maximize{
                        position: absolute;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: rgba(255,255,255,0.3);
                        left: 25px;
                        top: 5px;
                        // padding-top: 3px;
                        text-align: center;
                        color: $black;
                        cursor: pointer;
                        z-index: 99;
                        &:hover{
                            background: rgba(255,255,255,0.7);
                        }
                        & i.mdi{
                            font-size: 24px;
                            line-height: 40px;
                        }
                    }
                    & .others{
                        position: absolute;
                        height: 33%;
                        width: auto;
                        z-index: 999;
                        top: 0;
                        right: 0;
                        //display: none;
                        & video{
                            height: 100% !important;
                            width: auto;
                        }
                    }
                    
                }*/
}

section.video-call .chat-video .video .video_data.maximized .bordered-box {
  position: fixed;
  z-index: 9999;
  width: 60%;
  bottom: 5px;
  top: 95px;
  height: auto;
  /*
                        & .initiator{
                            top: 0;
                            width: 100%;
                            left: 0;
                            & video{
                                width: 100%;
                                height: auto;
                            }
                        }
                        & .others{
                            top: -34px;
                            left: 77%;
                        }*/
}

section.video-call .chat-video .video .video_data.maximized .bordered-box #other_video {
  display: none;
}

section.video-call .chat-video .video .video_data .vtbl {
  width: 100%;
  height: 100%;
  display: table;
}

section.video-call .chat-video .video .video_data .vtbl .initiator,
section.video-call .chat-video .video .video_data .vtbl .others {
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 50%;
}

section.video-call .chat-video .video .video_data .vtbl .initiator video,
section.video-call .chat-video .video .video_data .vtbl .others video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section.video-call .chat-video .video .video_data .vtbl .initiator .minimize_maximize {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  left: 25px;
  top: 5px;
  text-align: center;
  color: #000;
  cursor: pointer;
  z-index: 99;
}

section.video-call .chat-video .video .video_data .vtbl .initiator .minimize_maximize:hover {
  background: rgba(255, 255, 255, 0.7);
}

section.video-call .chat-video .video .video_data .vtbl .initiator .minimize_maximize i.mdi {
  font-size: 24px;
  line-height: 40px;
}

section.video-call .slider_scribble #widget-container {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 95px;
  bottom: 5px;
}

section.video-call .slider_scribble #widget-container .close_scribble {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  right: 15px;
  background: #ff6d00;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding-top: 7px;
}

section.video-call .slider_scribble #widget-container .close_scribble i.mdi {
  margin-top: 5px;
  font-size: 24px;
}

section.video-call .slider_scribble #widget-container .close_scribble:hover {
  color: #000;
}

section.video-call .slider_scribble #widget-container .disabled_widget {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9;
}

section.video-call .slider_scribble #widget-container .expand_scribble {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 8px;
  background: #ff6d00;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding-top: 2px;
  right: 10px;
}

section.video-call .slider_scribble #widget-container .expand_scribble i.mdi {
  font-size: 24px;
}

section.video-call .slider_scribble .slider_data {
  padding: 0.25rem;
  position: relative;
  height: 100%;
}

section.video-call .slider_scribble .slider_data .prev {
  background: #fff;
  border: #9e9e9e solid 1px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 110px;
}

section.video-call .slider_scribble .slider_data .prev.maximized_pdf {
  position: fixed;
  z-index: 9999;
  width: calc(100% - 110px);
  bottom: 5px;
  top: 95px;
  height: auto;
}

section.video-call .slider_scribble .slider_data .prev img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section.video-call .slider_scribble .slider_data .prev .pdf-preview {
  border: #000 solid 0;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
}

section.video-call .slider_scribble .slider_data .prev .pdf-preview img {
  width: 100%;
  height: auto;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 50%;
  margin-left: -50px;
  top: 10px;
  z-index: 10;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .minimize_maximize {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  /*background: yellow;*/
  right: -47px;
  top: 5px;
  padding-top: 3px;
  text-align: center;
  color: #000;
  cursor: pointer;
  z-index: 99;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .minimize_maximize:hover {
  background: rgba(255, 255, 255, 0.7);
  /*background: green;*/
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .minimize_maximize i.mdi {
  font-size: 24px;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .button-action {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .button-action:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .button-action i.mdi {
  line-height: 24px;
  font-size: 24px;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .button-action.pdf-prev {
  float: left;
}

section.video-call .slider_scribble .slider_data .prev .pdf-control .button-action.pdf-next {
  float: right;
}

section.video-call .slider_scribble .slider_data .list-player {
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: -16px;
  width: 115px;
}

section.video-call .slider_scribble .slider_data .list-player .list-file {
  margin: -4px 0 1px -4px;
  height: calc(50% + 1px);
}

section.video-call .slider_scribble .slider_data .list-player .list-file .list_upload {
  border: #9e9e9e solid 1px;
  position: absolute;
  top: 4px;
  bottom: 4px;
  right: 0;
  width: 100%;
  background: #fff;
}

section.video-call .slider_scribble .slider_data .list-player .list-file .list_upload ul#slideoverview {
  margin: 0;
  padding: 0;
}

section.video-call .slider_scribble .slider_data .list-player .list-file .list_upload ul#slideoverview li {
  height: 15px;
  float: none;
  width: 100%;
  padding-top: 60%;
  position: relative;
}

section.video-call .slider_scribble .slider_data .list-player .list-file .list_upload ul#slideoverview li div.drawer {
  border: #9e9e9e solid 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 1px 0;
  left: 1px;
  right: 1px;
  overflow: hidden;
}

section.video-call .slider_scribble .slider_data .list-player .list-file .list_upload ul#slideoverview li div.drawer img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section.video-call .slider_scribble .slider_data .list-player .list-file,
section.video-call .slider_scribble .slider_data .list-player .list-audio {
  position: relative;
  width: 100px;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio {
  border: #9e9e9e solid 1px;
  margin: -4px 0 1px -4px;
  height: calc(50% + 1px);
}

section.video-call .slider_scribble .slider_data .list-player .list-audio #jp_container_2.jp-audio {
  height: calc(100% - 70px) !important;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help {
  background: #b0bec5;
  border-top: #78909c solid 1px;
  text-align: center;
  height: 70px;
  cursor: pointer;
  position: relative;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .label {
  font-size: 12px;
  margin-bottom: 3px;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help span {
  background: #ff0000;
  display: inline-block;
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box {
  display: none;
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 100px;
  color: #c00000;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box ul {
  margin: 0;
  padding: 0;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box ul li {
  display: block;
  padding: 5px 0;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box ul li div.en {
  font-weight: 700;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box .arrow_box {
  position: relative;
  background: #fff2cc;
  border: 4px solid #c00000;
  width: 200px;
  padding: 15px 5px;
  border-radius: 5px;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box .arrow_box:after,
section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box .arrow_box:before {
  left: 100%;
  bottom: 20px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box .arrow_box:after {
  border-color: rgba(192, 0, 0, 0);
  border-left-color: #fff2cc;
  border-width: 10px;
  margin-bottom: -10px;
}

section.video-call .slider_scribble .slider_data .list-player .list-audio .help .info-box .arrow_box:before {
  border-color: rgba(255, 242, 204, 0);
  border-left-color: #c00000;
  border-width: 16px;
  margin-bottom: -16px;
}

section.video-call .slider_scribble .slider_data .showCanvas,
section.video-call .slider_scribble .slider_data .addImage {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 8px;
  background: #ff6d00;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  color: #fff;
  padding-top: 2px;
}

section.video-call .slider_scribble .slider_data .showCanvas:hover,
section.video-call .slider_scribble .slider_data .addImage:hover {
  color: #000;
}

section.video-call .slider_scribble .slider_data .showCanvas {
  right: 10px;
  border-radius: 50%;
}

section.video-call .slider_scribble .slider_data .showCanvas i.mdi {
  font-size: 24px;
  margin-top: 10px;
}

section.video-call .slider_scribble .slider_data .addImage {
  right: 55px;
  z-index: 99;
}

section.video-call .slider_scribble .slider_data .addImage input[type="file"] {
  display: none;
}

section.video-call .slider_scribble .slider_data .addImage label {
  cursor: pointer !important;
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
}

section.video-call .slider_scribble .slider_data .addImage label i.mdi {
  margin-top: 10px;
  font-size: 24px;
}

section.video-call .bordered-box {
  border: #9e9e9e solid 1px;
  height: 100%;
  background-color: none;
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  background: #fff;
}

section.video-call .bordered-box p {
  margin: auto;
}

section.video-call .chat .inner {
  position: absolute;
  left: 0.25rem;
  top: 0px;
  right: 0.25rem;
  bottom: 73px;
  border: #9e9e9e solid 1px;
  background: #fff;
}

/*
/ Chat messages stye
*/

section.video-call ul#chatMessageIo {
  margin: 0 15px;
  padding: 0;
}

section.video-call ul#chatMessageIo li {
  list-style: none;
  padding: 2px 0;
  display: block;
  clear: both;
  margin-bottom: 15px;
}

section.video-call ul#chatMessageIo li.message:after {
  content: "";
  clear: both;
  display: table;
}

section.video-call ul#chatMessageIo li.message.left .avatar,
section.video-call ul#chatMessageIo li.message.left .username,
section.video-call ul#chatMessageIo li.message.left .messageBody {
  float: left;
}

section.video-call ul#chatMessageIo li.message.left .username,
section.video-call ul#chatMessageIo li.message.left .messageBody {
  margin-left: 5px;
}

section.video-call ul#chatMessageIo li.message.right .avatar,
section.video-call ul#chatMessageIo li.message.right .username,
section.video-call ul#chatMessageIo li.message.right .messageBody {
  float: right;
}

section.video-call ul#chatMessageIo li.message.right .username,
section.video-call ul#chatMessageIo li.message.right .messageBody {
  margin-right: 5px;
}

section.video-call ul#chatMessageIo li.message .avatar,
section.video-call ul#chatMessageIo li.message .username,
section.video-call ul#chatMessageIo li.message .messageBody {
  display: inline-block;
}

section.video-call ul#chatMessageIo li.message .avatar {
  width: 34px;
  height: 50px;
  padding: 0;
  display: none;
}

section.video-call ul#chatMessageIo li.message .avatar i.mdi {
  font-size: 34px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

section.video-call ul#chatMessageIo li.message .username,
section.video-call ul#chatMessageIo li.message .messageBody {
  width: calc(100% - 20px);
  background: rgba(50, 141, 208, 0.2);
}

section.video-call ul#chatMessageIo li.message .username {
  font-size: 10px;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px 0 10px;
}

section.video-call ul#chatMessageIo li.message .messageBody {
  margin-top: 0;
  padding: 0px 10px 10px 10px;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 16px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 18px;
  text-align: left;
}

section.video-call ul#chatMessageIo li.right {
  text-align: right;
}

section.video-call ul#chatMessageIo li.log {
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

section.video-call .chat .innerInput {
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 5px;
  height: 65px;
}

section.video-call .chat .innerInput textarea {
  width: 100%;
  height: 65px;
  border: #9e9e9e solid 1px;
  outline: none;
  resize: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

section.video-call .bigbox {
  position: relative;
}

section.video-call .bigbox .upper,
section.video-call .bigbox .lower {
  position: absolute;
  left: 0;
  right: 0;
  /* border:#000 solid 1px; */
}

section.video-call .bigbox .upper {
  height: 60%;
  top: 0;
  padding-top: 91px;
}

section.video-call .bigbox .upper .table {
  display: table;
  /* border:#000 solid 1px; */
  height: 100%;
}

section.video-call .bigbox .upper .table .td {
  display: table-cell;
  /* border:#000 solid 1px; */
}

section.video-call .bigbox .upper .table .td.video {
  width: 28%;
  position: relative;
  padding: 0.25rem;
}

section.video-call .bigbox .upper .table .td.video .initiator {
  position: absolute;
  top: 13%;
  right: .25rem;
  bottom: 0;
  left: .25rem;
}

section.video-call .bigbox .upper .table .td.video .others {
  width: 40%;
  height: 41%;
  position: absolute;
  top: 13%;
  right: .25rem;
  z-index: 999;
}

section.video-call .bigbox .upper .table .td.scribble {
  padding: 0.25rem;
}

section.video-call .bigbox .upper .table .td.video .video-upper,
section.video-call .bigbox .upper .table .td.video .video-lower {
  position: absolute;
  /* border:#000 solid 1px; */
  left: 0;
  right: 0;
}

section.video-call .bigbox .upper .table .td.video .video-upper {
  height: 40%;
  top: 0;
}

section.video-call .bigbox .upper .table .td.video .video-upper .row {
  height: 100%;
  margin: 0;
}

section.video-call .bigbox .upper .table .td.video .video-upper .row div {
  height: 100%;
  padding: 0;
  padding: 0.25rem;
}

section.video-call .bigbox .upper .table .td.video .video-lower {
  height: 100%;
  bottom: 0;
  padding: 0.25rem;
  position: static;
}

section.video-call .bigbox .lower {
  height: 40%;
  bottom: 0;
}

section.video-call .bigbox .lower .table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
}

section.video-call .bigbox .lower .table .td {
  display: table-cell;
  padding: 0.25rem;
}

section.video-call .bigbox .lower .table .td.youtube {
  width: 28%;
  vertical-align: top;
  position: relative;
}

section.video-call .bigbox .lower .table .td.youtube .youtube_inner {
  position: relative;
}

section.video-call .bigbox .lower .table .td.youtube .youtube_inner .disabledFrame {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
}

section.video-call .bigbox .lower .table .td.youtube .bordered-box p {
  margin: auto;
}

.expand-vertical {
  position: fixed !important;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding-top: 0;
  padding-bottom: 0;
}

.tool-box {
  height: 100% !important;
}

.hidden {
  display: none;
}

.jp-type-playlist {
  position: relative;
}

.jp-type-playlist .add_audio {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.jp-type-playlist .add_audio input[type="file"] {
  display: none;
}

.jp-type-playlist .add_audio label {
  display: block;
  padding: 8px 0;
  margin-bottom: 0;
  border-radius: 5px;
  color: #fff;
  margin: 0 0.75rem;
  font-size: 18px;
}

/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/

/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/

table.table-calendar {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  width: 100%;
}

table.table-calendar thead .table-header {
  border-bottom: #e0e0e0 solid 1px;
}

table.table-calendar thead .table-header th {
  text-align: center !important;
  padding: 15px 15px;
  font-size: 36px;
  font-weight: 300;
  vertical-align: middle;
}

table.table-calendar thead .table-header th:nth-child(1) i,
table.table-calendar thead .table-header th:nth-child(3) i {
  font-size: 24px;
}

table.table-calendar thead .table-header th:nth-child(1) {
  text-align: left !important;
}

table.table-calendar thead .table-header th:nth-child(2) {
  padding-top: 10px;
}

table.table-calendar thead .table-header th:nth-child(3) {
  text-align: right !important;
}

table.table-calendar tbody tr.cal_labels td {
  height: 50px;
  background: #e0e0e0;
  padding: 15px 10px;
  border-right: #fff solid 1px;
  width: 14.285714% !important;
}

table.table-calendar tbody tr.cal_labels td:nth-child(7) {
  border-right: none;
}

table.table-calendar tbody tr td {
  overflow: auto;
  overflow-x: hidden;
  padding: 10px 0;
  border-bottom: #e0e0e0 solid 1px;
  border-right: #e0e0e0 solid 1px;
  vertical-align: top;
}

table.table-calendar tbody tr td > div {
  min-height: 150px;
}

table.table-calendar tbody tr td .schedules {
  padding: 5px 10px;
  margin: 1px 0;
  color: #fff;
  position: relative;
}

table.table-calendar tbody tr td .schedules:hover a.edit {
  display: initial;
}

table.table-calendar tbody tr td .schedules.warning {
  background: #ffc107;
}

table.table-calendar tbody tr td .schedules.ok {
  background: #38c172;
}

table.table-calendar tbody tr td .schedules.info {
  background: #3490dc;
}

table.table-calendar tbody tr td .schedules.student {
  background: #38c172;
}

table.table-calendar tbody tr td .schedules.teacher {
  background: #f6993f;
}

table.table-calendar tbody tr td .schedules a.edit {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  color: #000;
}

table.table-calendar tbody tr td .schedules a.edit:hover {
  color: #fff;
}

table.table-calendar tbody tr td .schedules .lesson-name {
  font-size: 11px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

table.table-calendar tbody tr td .schedules .schedule-time {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

table.table-calendar tbody tr td .schedules .student-teacher {
  font-size: 11px;
}

table.table-calendar tbody tr td .schedules .student-teacher span {
  display: block;
}

table.table-calendar tbody tr td:nth-child(7) {
  border-right: none;
}

table.table-calendar tbody tr td span.day {
  display: block;
  font-weight: 600 !important;
  padding: 0 10px;
}

table.table-calendar tbody tr td .event {
  background-color: rgba(3, 169, 244, 0.5);
  margin: 2px 1px;
  color: #212121;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

table.table-calendar tbody tr td .event:hover {
  background: #03a9f4;
}

table.table-calendar tbody tr td .more {
  color: #212121;
  padding: 0 5px;
}

table.table-calendar tbody tr td .more i.mdi {
  font-size: 24px;
  line-height: 29px;
  cursor: pointer;
}

table.table-calendar tbody tr td .more i.mdi:hover {
  color: #03a9f4;
}

/*
|------------------------------------------
| 991px and Lower
|------------------------------------------
*/

/*
|------------------------------------------
| 480px and Lower
|------------------------------------------
*/

.lessons .card-body {
  font-weight: 400;
  font-size: 15px;
}

.lessons .card-body .lesson-title {
  font-size: 18px;
}

.lessons .card-body .teacher_date {
  display: table;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.lessons .card-body .teacher_date .avatar,
.lessons .card-body .teacher_date .name {
  display: table-cell;
  vertical-align: middle;
  height: 30px !important;
  padding: 0 !important;
  position: relative;
}

.lessons .card-body .teacher_date .avatar {
  width: 40px;
}

.lessons .card-body .teacher_date .avatar .inner {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 !important;
  overflow: hidden;
  border-radius: 50%;
}

.lessons .card-body .teacher_date .avatar .inner img {
  width: 30px;
  height: 30px;
}

.lessons .card-body .teacher_date .name {
  padding-left: 15px;
}

.lessons .card-body .comments .comment-data {
  border-bottom: #eee dashed 1px;
  display: table;
  width: 100%;
}

.lessons .card-body .comments .comment-data .comment-avatar,
.lessons .card-body .comments .comment-data .comment-body {
  display: table-cell;
  vertical-align: top;
  padding: 25px 0;
}

.lessons .card-body .comments .comment-data .comment-avatar {
  width: 50px;
}

.lessons .card-body .comments .comment-data .comment-avatar i.mdi {
  line-height: 36px;
}

.lessons .card-body .comments .comment-data .comment-body .name {
  font-weight: 500;
}

.lessons .card-body .comments .comment-data .comment-body .carbon {
  font-size: 12px;
}

.lessons .card-body .comments .comment-data .comment-body .note {
  color: #616161;
}

.lessons .card-body .comments .comment-data:last-child {
  border-bottom: none;
}

.col-edit {
  padding-left: 5px;
}

.col-edit a {
  display: inline-block;
  width: 30px;
  height: 38px;
  text-align: center;
}

.col-edit a i.mdi {
  font-size: 24px;
}

.loading {
  padding: 50px 0;
}

.loading img {
  height: 50px;
  margin-bottom: 15px;
}

.loading div {
  font-size: 12px;
}

ul.schedule_lists {
  margin-left: -15px;
  margin-right: -15px;
}

ul.schedule_lists li {
  background-color: rgba(3, 169, 244, 0.5);
  font-size: 14px;
  margin: 2px 0;
  color: #212121;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

ul.schedule_lists li:hover {
  background: #03a9f4;
}

.no-record {
  border: 1px dashed #bdbdbd;
  border-radius: 5px;
  text-align: center;
  padding: 0 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 350px;
}

.no-record p {
  margin: 15px 0 25px 0;
}

.no-record .info i.mdi {
  font-size: 48px;
}

.modal .modal_loading {
  text-align: center;
  padding: 50px 0;
}

.modal .modal_loading img {
  height: 50px;
  margin-bottom: 25px;
}

.modal .user-detail {
  padding: 25px 0;
  text-align: center;
}

.modal .user-detail .u-group {
  display: block;
}

.modal .user-detail .u-group .a-container {
  margin: 0 auto;
  display: table;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.modal .user-detail .u-group .a-container .a-image {
  display: table-cell;
  width: 100px;
  height: 100px;
  border: #eeeeee solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.modal .user-detail .u-group .a-container .a-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .user-detail .u-group .u-label {
  font-size: 11px;
  padding-top: 10px;
  color: #9e9e9e;
}

.modal .user-detail .u-group .u-value {
  font-weight: 500;
  border-bottom: #eeeeee dashed 1px;
  padding-bottom: 10px;
}

.modal .user-detail .u-group.last .u-value {
  border-bottom: 0;
}

.modal .user-detail .u-line {
  background: #e0e0e0;
  height: 1px;
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  position: relative;
}

.modal .user-detail .u-line span {
  display: inline-block;
  background: #fff;
  position: absolute;
  top: -5px;
  left: calc(50% - 50px);
  width: 100px;
  font-weight: 500;
  text-transform: uppercase;
}

.form-proccessing {
  padding-left: 15px;
  font-size: 13px;
  color: #9e9e9e;
  white-space: nowrap;
}

.form-proccessing img {
  height: 20px;
}

.legends {
  margin-bottom: 2rem;
}

.legends h5 {
  font-size: 14px;
}

.legends ul li {
  height: 25px;
  margin: 15px 0;
}

.legends ul li:after {
  display: table;
  width: 100%;
  content: '';
}

.legends ul li span {
  display: inline-block;
  height: 15px;
  float: left;
}

.legends ul li span.box {
  width: 15px;
  border: 0;
  margin-right: 10px;
}

.legends ul li span.lbl {
  padding: 5px 0;
}

.legends ul li.student .box {
  background: #38c172;
}

.legends ul li.teacher .box {
  background: #f6993f;
}

.lesson_comments {
  margin: 1.5rem 0;
  /*border:#000 solid 1px;*/
  max-height: 400px !important;
  height: auto !important;
  padding: 10px 15px;
}

.lesson_comments .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.lesson_comments .comment-data {
  display: table;
  width: 100%;
  margin: 5px 0 10px 0;
}

.lesson_comments .comment-data .comment-avatar,
.lesson_comments .comment-data .comment-body {
  display: table-cell;
  vertical-align: top;
}

.lesson_comments .comment-data .comment-avatar {
  width: 50px;
}

.lesson_comments .comment-data .comment-avatar img {
  width: 40px;
  height: 40px;
}

.lesson_comments .comment-data .comment-body {
  padding-left: 10px;
}

.lesson_comments .comment-data .comment-body .name {
  font-weight: 500;
}

.lesson_comments .comment-data .comment-body .note {
  margin-top: 5px;
}

.form_confirm .confirm-row {
  display: table;
  width: 100;
}

.form_confirm .confirm-row .image_preview {
  display: inline-block;
  width: 120px;
  height: 120px;
  display: table;
}

.form_confirm .confirm-row .image_preview .inner {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid #dee2e6;
  vertical-align: middle;
  text-align: center;
}

.form_confirm .confirm-row .image_preview .inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form_confirm .confirm-row .confirm-label,
.form_confirm .confirm-row .confirm-data {
  display: table-cell;
  vertical-align: top;
  padding: 12px 0;
}

.form_confirm .confirm-row .confirm-label {
  width: 240px;
  white-space: nowrap;
}

.form_confirm .confirm-row .confirm-data:before {
  content: ':';
  margin-right: 15px;
}

#course-level .custom-control {
  padding-top: 8px;
  padding-bottom: 8px;
}

.viewPassword {
  margin-top: 30px;
  display: inline-block;
  height: 35px;
  padding: 9px 5px;
  cursor: pointer;
}

.viewPassword i.mdi {
  font-size: 24px;
}

.alert_modal {
  text-align: center;
  padding: 20px 0 40px 0;
  font-weight: 300;
}

.alert_modal i.mdi {
  font-size: 48px;
}

.alert_modal p {
  font-size: 18px;
}

.alert_modal a {
  font-weight: 300;
}

